.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #9e2a2b;
  margin-bottom: 1rem;
  position: relative;
}
.name {
  margin-bottom: 1rem;
}
.price {
  color: #9e2a2b;
  font-weight: bold;
  margin-right: 3rem;
}
.amount {
  font-weight: bold;
  border: 1px solid #adb5bd;
  padding: 0.15rem 0.5rem;
  border-radius: 6px;
  position: absolute;
  left: 5.5rem;
  bottom: 0.75rem;
}
.actions button {
  background-color: transparent;
  border: 1px solid #9e2a2b;
  color: #9e2a2b;
  font: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 6px;
  width: 3rem;
  cursor: pointer;
  margin-left: 0.5rem;
}
.actions button:hover,
.actions button:active {
  background-color: #9e2a2b;
  color: #fff;
}
