.menu {
  width: 60%;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.description {
  font-style: italic;
  margin: 0.25rem;
}
.price {
  color: #9e2a2b;
  font-size: 1.25rem;
  font-weight: bold;
}

.input-item label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.input-item input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
.input-item input:focus {
  outline: none;
}

.button {
  font: inherit;
  background-color: #540b0e;
  color: #fff;
  font-weight: bold;
  padding: 0.25rem 2rem;
  float: right;
  margin: 1rem 0;
  border: 1px solid #540b0e;
  border-radius: 25px;
  cursor: pointer;
}

hr {
  border: 0.5px solid #adb5bd;
}
